# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS X
.DS_Store

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Project-specific
files/
plan.md

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/
notes.txt